.imglogo{
  height: 40px;
  margin-top: 30px;

}
.first {
  margin-left: 30px;
  margin-right: 40px;
  margin-top:  20px;
  padding-top: 10px ;
}

.bottom {
  margin-top: 11px;
  color: #007BFF;
}
.heading{
    margin-top: 4px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.register-heading{
  background: #416e9b;
    padding-bottom: 20px;
}