.imglogo{
  height: 50px;
  margin-top: 30px;
  margin-left: 44px;
  margin-right: 40px;

}

.first {
  margin-left: 30px;
  margin-right: 40px;
  margin-top:  20px;
  padding-top: 10px ;
}

.bottom {
  margin-top: 11px;
  color: #007BFF;
}
.heading{
    margin-top: 4px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.register-heading{
  background-color: rgb(245, 243, 235);
  border-bottom : 2px solid #133783;
  margin-bottom: 30px;
  padding-bottom: 20px;


}